<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OuchFree</title>

    <link rel="stylesheet" type="text/css" href="../../dist/css/choose-a-plan.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../js/choose-a-plan.js"></script>
</head>
    
<body>
    <div class="page-container" id="choose-a-plan-container">
        <div class="header">
            <div class="header-text">
                Recommended For You
            </div>
            <a href="home.html">
                <div class="header-close-button">
                    X
                </div>
            </a>
        </div>
        <div class="progress-slider-container">
            <template v-for="i in 7">
                <div class="progress-slider" :class="{ active: step === i }" @click="step = i"></div>
            </template>
        </div>

        <!-- TODO BADGE -->
        <div class="step-1" v-if="step === 1">
            <div class="introduction">
                <span class="step">Step 1 </span><span class="hairline-text">Choose a plan</span>
                <h5>Our selection of medical insurance plans help you eliviate the burden of troublesome medical bills.</h5>
            </div>

            <div class="package-section">
                <div class="package-list">
                    <h5>Medical Cards</h5>
                    <div class="package-item-container">
                        <div class="package-item-card" @click="step = 2">
                            <div class="package-details">
                                <div class="package-logo">
                                    <img src="../assets/images/axa_logo.png">
                                </div>
                                <div class="package-description">
                                    <h5>AXA - eMedic</h5>
                                    <ul>
                                        <li>
                                            <span class="hairline-text">Annual Limit: </span><b>up to RM100,000.<sup>00</sup></b>
                                        </li>
                                        <li>
                                            <span class="hairline-text">Coverage Term: </span><b>up to age 80</b>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="package-price">
                                <b><sup class="hairline-text">from </sup>RM55.<sup class="hairline-text">99</sup>/ month</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            

        <!-- TOOD BADGE AND LIST -->
        <div class="step-2" v-if="step === 2">
            <div class="introduction">
                <span class="step">Step 2 </span><span class="hairline-text">Plan overview</span>
            </div>

            <div class="benefit-section">
                <div class="benefit-item-container">
                    <div class="benefit-item-card">
                        <div class="benefit-details">
                            <div class="benefit-logo">
                                <img src="../assets/images/axa_logo.png">
                            </div>
                            <div class="benefit-description">
                                <h5>AXA - eMedic Plan 50</h5>
                                <span class="more-information">More information</span>
                            </div>
                        </div>

                        <div class="benefits-line">
                            <h5>Schedule of Benefits</h5>
                        </div>
                        
                        <div class="benefit-list">
                            <div class="benefit-container">
                                <div class="benefit-item">
                                    <div class="benefit-logo">
                                        <img src="../assets/images/axa_logo.png">
                                    </div>

                                    <div class="benefit-description">
                                        <span class="hairline-text small-text">Annual Limit</span>
                                        <h5>up to RM50,000.<sup>00</sup></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="benefit-container">
                                <div class="benefit-item">
                                    <div class="benefit-logo">
                                        <img src="../assets/images/axa_logo.png">
                                    </div>

                                    <div class="benefit-description">
                                        <span class="hairline-text small-text">Lifetime Limit</span>
                                        <h5>Unlimited</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="benefit-container">
                                <div class="benefit-item">
                                    <div class="benefit-logo">
                                        <img src="../assets/images/axa_logo.png">
                                    </div>

                                    <div class="benefit-description">
                                        <span class="hairline-text small-text">Room &amp; Board</span>
                                        <h5>up to RM250.<sup>00</sup> / Day</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="benefit-container">
                                <div class="benefit-item">
                                    <div class="benefit-logo">
                                        <img src="../assets/images/axa_logo.png">
                                    </div>

                                    <div class="benefit-description">
                                        <span class="hairline-text small-text">Coverage Term</span>
                                        <h5>up to age 80</h5>
                                    </div>
                                </div>
                            </div>    
                        </div>

                        <div class="benefit-price">
                            <div class="total-cost-text">
                                Total Cost
                            </div>

                            <div class="total-cost-price">
                                <b>RM48.<sup>99</sup> / month</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="next-button-container" @click="step = 3">
                <div class="next-button">Next</div>
            </div>
        </div>                

        <div class="step-3" v-if="step === 3">
            <div class="introduction">
                <span class="step">Step 3 </span><span class="hairline-text">Personal details</span>
                <h5>Let's get to know you a little better.</h5>
            </div>

            <form>
                <div class="radio-field-container">
                    <div class="radio-card">
                        <h5 class="hairline-text">I am a Malaysian</h5>
                        <input type="radio" name="country" value="Malaysian" id="malaysian">
                    </div>
                    <div class="radio-card">
                        <h5 class="hairline-text">I am a Malaysian</h5>
                        <input type="radio" name="country" value="Foreigner" id="foreigner">
                    </div>
                </div>

                <div class="form-field-container">
                    <div class="form-name">
                        <b>Full Name</b><span class="small-text">as per NRIC / Passport</span>
                    </div>

                    <div class="form-input-container">
                        <input type="text" name="fullname">
                    </div>
                </div>

                <div class="form-field-container">
                    <div class="form-name">
                        <b>Full Name</b><span class="small-text">as per NRIC / Passport</span>
                    </div>

                    <div class="form-input-container">
                        <input type="text" name="fullname">
                    </div>
                </div>

                <div class="gender-field-container">
                    <div class="form-name">
                        <b>Gender</b>
                    </div>
                    <div class="button-container">
                        <input type="radio" name="gender" value="Male" id="male">
                        <label for="male">Male</label>

                        <input type="radio" name="gender" value="Female" id="female">
                        <label for="female">Female</label>
                    </div>
                </div>

                <div class="form-field-container">
                    <div class="form-name">
                        <b>Date of Birth</b><span class="small-text"></span>
                    </div>

                    <!-- TODO -->
                    <div class="form-input-container">
                        <input type="text" name="fullname">
                    </div>
                </div>

                <div class="form-field-container">
                    <div class="form-name">
                        <b>Country of Origin</b><span class="small-text"></span>
                    </div>

                    <!-- TODO -->
                    <div class="form-input-container">
                        <input type="text" name="fullname">
                    </div>
                </div>
            </form>

            <div class="next-button-container" @click="step = 4">
                <div class="next-button">Next</div>
            </div>
        </div>

        <div class="step-4" v-if="step === 4">
            <div class="introduction">
                <span class="step">Step 4 </span><span class="hairline-text">Contact Details</span>
                <h5>These fields are required in order to mail your policy</h5>
            </div>

            <form>
                <div class="form-field-container">
                    <div class="form-name">
                        <b>Phone Number</b><span class="small-text"></span>
                    </div>

                    <div class="form-input-container">
                        <input type="text" name="phonename">
                    </div>
                </div>

                <div class="form-field-container">
                    <div class="form-name">
                        <b>Email Address</b><span class="small-text"></span>
                    </div>

                    <div class="form-input-container">
                        <input type="text" name="email">
                    </div>
                </div>

                <div class="form-field-container">
                    <div class="form-name">
                        <b>Address</b><span class="small-text"></span>
                    </div>

                    <div class="form-input-container">
                        <input type="text" name="address1">
                    </div>

                    <div class="form-input-container">
                        <input type="text" name="address2">
                    </div>


                    <div class="form-input-container">
                        <input type="text" name="address2">
                    </div>

                    <div class="form-input-container">
                        <div class="form-name">Postcode</div>
                        <input type="text" name="address2">
                    </div>

                    <input type="submit" value="Submit" @click="submitForm">
                </div>
            </form>
        </div>
    </div>
</body>
