body
    margin: 0
    padding: 0

img
    max-width: 100%

.page-container
    position: relative
    padding-bottom: 42px // height of footer

.introduction-section 
    position: relative
    .introduction-content 
        position: absolute
        top: 0
        left: 50%
        transform: translate(-50%, 130%)
        p 
            text-align: center
            width: 190px
            margin: 10px auto 0 auto
            color: #E94259
            font-weight: 100

.cta-section
    position: relative
    h4
        text-align: center
    .cta-content
        position: absolute
        top: 0
        left: 50%
        transform: translate(-50%, 40px)
        .button-container
            display: flex
            justify-content: center
            .green-button
                border: 2px solid #73EAB8
                padding: 10px 20px
                border-radius: 20px
                color: #73EAB8
                text-align: center
                margin: 5px
                background-color: white

.about-us-section
    padding: 25px
    h5
        color: #E94259
        padding-bottom: 10px
        margin-bottom: 0
    .read-more-button
        color: white
        background-color: #E94259
        border-radius: 5px
        text-align: center
        padding: 10px 0

.contact-us-section
    padding: 20px
    .contact-us-card
        padding: 25px
        box-shadow: 0 0 15px 0 lightgray
        position: relative
        border-radius: 5px
    .card-bg
        position: absolute
        width: 100px
        top: 20px
        right: 0px

.partners-section
    padding: 20px
    h4
        margin-bottom: 20px
    .partner
        margin-bottom: 10px
        .partner-logo
            width: 55px
            border-radius: 5px

.yellow-border
    width: 80px
    margin: 20px auto

.hairline-text
    font-weight: 100

.footer
    position: absolute
    bottom: 0
    left: 0
    background-color: #E94259
    color: white
    padding: 15px
    width: 100%
    font-size: 0.5em
    text-align: center